body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.App-header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #425f63;
  height: 70px;
  display: flex;

  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-inline: 20px;
}
a:hover {
  text-decoration: underline;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
}
.navBar div {
  margin-block: auto;
  justify-items: center;
}
.logo {
  text-decoration: underline;
}
.logo .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
section {
  margin: 70px;
}
.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heading h4 {
  color: #000000c0;
  font-size: 16px;
  margin-right: 10px;
}
.heading div {
  align-items: center;
  display: flex;
}
.taskContainer {
  box-shadow: 0 0 3px gray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
}
.task {
  margin-top: 20px;
  padding: 20px;
  background-color: #00000015;
  box-shadow: 0 0 2px rgb(78, 78, 78);
  border-radius: 5px;
}
.circle {
  background-color: #425f63;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.boldFont {
  font-weight: 500;
  margin-block: 10px;
  font-size: 14px;
}
.fontRed {
  color: red;
}
.dateLabel {
  font-size: 12px;
  font-weight: 500;
  color: #00000085;
}
.searchIcon {
  box-sizing: border-box;
  color: white;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 0 2px 2px 0;
}
.searchBar {
  background-color: #425f63;
  box-shadow: 0 0 2px rgb(78, 78, 78);
}
.popupContainer {
  width: 55%;
  min-height: 50%;
  transform: translate(0, 10vh);
  background-color: white;
  padding: 30px;
  margin: auto;
}
.popupButtonBox {
  position: relative;
  width: 40%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popupCloseButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
